{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>View job</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div class="logo">
            <img src='{% static "logo.png" %}' alt="" />
          </div>
          <div class="links">
            <a href="{% url 'jobs_home' %}">Home</a>
          </div>
          <span class="material-icons menu" onclick="menu()"> menu </span>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <div class="view-post">
          <h1 class="jobtitle">
              {{job.title}}
          </h1>
          <p class="location it">Lugar: <span>{{job.location.city}}</span></p>
          <p class="status it">Publicado: <span>{{job.date}}</span></p>

          <p class="budget it">Sueldo ofertado: <span>$ {{job.salary | intword }}</span></p>
          <p class="status it">fecha de expiración: <span>{{job.expiry}}</span></p>
          <div class="desc">
            <p class="details">
             {{job.description}}
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src='{% static "app.js" %}'></script>
  </body>
</html>